<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/main.css" type="text/css">
    <title>WAP 회비현황</title>
</head>


<body>
{% include 'include/navbar.html' %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="">{{ showYear }}년도 회비납부 현황</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">블록체인 기술을 활용한 동아리 전자장부 프로젝트 / 2018 wap winter vacation project / 이태경, 김세훈</p>
        <form class="form-inline" method="GET">
            <div class="input-group">
                    <select class="form-control" name="inputYear">
                        <option value="{{ currentYear }}">{{ currentYear }}</option>
                        <option value="{{ currentYear - 1 }}">{{ currentYear - 1 }} </option>
                        <option value="{{ currentYear - 2 }}">{{ currentYear - 2 }}</option>
                    </select>
              <div class="input-group-append">
                <button type="submit" class="btn btn-dark" >보기</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>멤버명</th>
                <th>등급</th>
                <th>1월</th>
                <th>2월</th>
                <th>3월</th>
                <th>4월</th>
                <th>5월</th>
                <th>6월</th>
                <th>7월</th>
                <th>8월</th>
                <th>9월</th>
                <th>10월</th>
                <th>11월</th>
                <th>12월</th>
              </tr>
            </thead>
            <tbody>

                  {% for duesObject in duesList %}
                      <tr>
                      <td>{{ duesObject.name }}</td>

                      {% if duesObject.grade == 0 %}
                        <td>준회원</td>
                      {% else %}
                        <td>관리자</td>
                      {%  endif %}

                      {% for i in range(0,12) %}
                          {% if duesObject.month[i] == 1 %}
                            <td class="table-success">납입</td>
                          {% else %}
                            <td class="table-danger">미납</td>
                          {% endif %}
                      {% endfor %}
                      </tr>

                  {% endfor %}


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 WAP - All rights reserved.
            <br> </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


</body>

</html>