<!DOCTYPE html>
<html>

<head>
  <style>
        .chart-container{
            max-width: 600px;
            max-height: 400px;
        }
  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="../static/js/Chart.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/main.css" type="text/css"><title>WAP 전자장부 통계</title>

</head>

<body>
  {% include 'include/navbar.html' %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="">2017년도 통계</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">블록체인 기술을 활용한 동아리 전자장부 프로젝트 / 2018 wap winter vacation project / 이태경, 김세훈</p>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" method="GET">
            <div class="input-group">
                    <select class="form-control" name="inputYear">
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
              <div class="input-group-append">
                <button type="submit" class="btn btn-dark" >보기</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <center>
  <div class="py-5">
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">

      <h3>예산 현황</h3>

      <canvas id="wapMonthBudgetLineChart"></canvas>
          <script>
              var ctx = document.getElementById("wapMonthBudgetLineChart").getContext("2d");

              var myData = {
                  labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                  datasets :[{
                      borderColor: 'rgba(128,128,128,0.8)',
                      pointBackgroundColor : 'rgba(128,128,128,1)',
                      label: "남은 예산(단위 : 원)",
                      lineTension : 0,
                      fill : false,
                      data : [967.67, 1190.89, 1079.75, 1349.19, 2328.91, 2504.28, 2873.83, 4764.87, 4349.29, 6458.30, 9907, 16297]
                  }]
              };

              var chartOptions = {
                  legend: {
                      display: true,
                      position: 'top',
                      labels: {
                          boxWidth: 80,
                          fontColor: 'black'
                      }
                  }
              };

              var lineChart = new Chart(ctx, {
                  type : 'line',
                  data : myData,
                  options: chartOptions
              });
          </script>

  </div>
  <br><br>
  <hr>

  <br>
  <div class="chart-container" style="position: relative; height:40vh; width:90vw">

          <h3>장부기록/예산사용 현황</h3>

      <canvas id="wapMonthWriteFrequencyLineChart"></canvas>


          <script>
              var ctx = document.getElementById("wapMonthWriteFrequencyLineChart").getContext("2d");

              var myData = {
                  labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                  datasets :[{
                      borderColor: 'rgba(128,128,128,0.8)',
                      pointBackgroundColor : 'rgba(128,128,128,1)',
                      label: "예산사용 횟수(단위: 횟수)",
                      lineTension : 0,
                      fill : false,
                      data : [
                          {% for item in Use_Frequency_Values %}
                              "{{ item }}",
                          {% endfor %}
                      ]
                  },{
                      borderColor: 'rgba(167,54,152,0.8)',
                      backgroundColor : 'rgba(167,54,152,0.8)',
                      pointBackgroundColor : 'rgba(167,54,152,1)',
                      label: "장부기록 횟수(단위 : 횟수)",
                      lineTension : 0,
                      fill : false,
                      data : [
                          {% for item in Write_Frequency_Values %}
                              "{{ item }}",
                          {% endfor %}
                      ]
                  }]
              };

              var chartOptions = {
                  legend: {
                      display: true,
                      position: 'top',
                      labels: {
                          boxWidth: 80,
                          fontColor: 'black'
                      }
                  }
              };

              var lineChart = new Chart(ctx, {
                  type : 'line',
                  data : myData,
                  options: chartOptions
              });
          </script>

  </div>


  <br/>
  <br/>

  <hr>

  <br/>


  <div class="chart-container" style="position: relative; width: 90vw; height: 40vh">

          <h3>수입/지출 현황</h3>

          <canvas id="wapMonthIncomeOutcomeBarChart"></canvas>
          <script>
              var chartCanvas = document.getElementById("wapMonthIncomeOutcomeBarChart");

              var incomeData = {
                  label: '수입(단위 : 원)',
                  data: [54270, 52430, 55140, 39330, 13260, 6870, 12710, 16380, 48140, 39330, 34270, 42430],
                  backgroundColor: 'rgba(0,0,255,0.6)',
                  borderWidth: 0
              };

              var outcomeData = {
                  label: '지출(단위 : 원)',
                  data: [
                      {% for item in values %}
                          "{{ item }}",
                      {% endfor %}
                  ],
                  backgroundColor: 'rgba(255,0,0,0.6)',
                  borderWidth: 0
              };

              var totalData = {
                  labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                  datasets: [incomeData, outcomeData]
              };

              var chartOptions = {
                  scales: {
                      xAxes: [{
                          barPercentage: 1,
                          categoryPercentage: 0.6
                      }]
                  }
              };

              var barChart = new Chart(chartCanvas, {
                  type: 'bar',
                  data: totalData,
                  options: chartOptions
              });
          </script>

  </div>
  </div>
</center>

    <div class="py-5 bg-dark text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-3 text-center">
              <p>© Copyright 2017 WAP - All rights reserved.
                <br> </p>
            </div>
          </div>
        </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>

</html>